{% extends '_base_drafts.html' %}
{% load staticfiles %}
{% load tags %}
		{% block stylesheets %}
		{{ block.super }}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
		<link rel="stylesheet" href="{% static "css/editor.css" %}">
		{% endblock %}
		{% block content %}
		<form id="editor-form" action="." method=POST>
			{% csrf_token %}
			{% block navbar %}
			{{ block.super }}
			{% endblock %}
			<div class="markdraft-editor">
				{% field form.text id="md-input" %}
				<div id="md-preview">
				</div>
			</div>
		</form>
		<div id="drawer" ng-app="drawerApp">
			<div id="drawer-tab">
			</div>
			<div id="inner-drawer" ng-controller="DrawerController">
				<div class='doc-box' ng-repeat="doc in documents">
				<a href="/doc/[[doc.hashid]]/edit/">[[ doc.latest_title ]]</a>
				</div>
			</div>
			
		</div>
		{% endblock %}
		{% block javascript %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
		<script src="{% static "js/editor.js" %}"></script>
		{% endblock %}
	</body>
</html>
