/* Navbar Styles */
body {
	padding-top: 80px;
}
.navbar-top {
	height: 80px;
	position: fixed;
	width: 100%;
	background-color: #595959;
	-webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
	z-index: 10;
}
.navbar-fixed {
	position: fixed;
	top: 0;
}
.navbrand {
	display: inline;
	font-family: Dynalight;
	font-size: 3em;
	line-height: 80px;
	margin-left: 12px;
	color: white;
}
.navbar-top .navbrand a {
	float: left;
	text-decoration: none;
}
.navbar-top .navbrand a:hover {
	background: inherit;
}
.nav {
	float: right;
}
.navbar-top a{
	font-size: 1.2em;
	float: right;
	margin: 0;
	line-height: 80px;
	color: white;
	text-decoration: none;
	display: block;
	padding: 0 20px;
	transition: .2s;
}
.navbar-top  a:hover {
	background-color: black;
}
.navbar-top a.active {
	background-color: black;
}
/* Body Styles */
section.action {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 20px 0;
}
.top-row {
	color: white;
	background-color: #E84C3D;
}
.second-row {
	background-color: white;
}
.action .row .column{ border: 10px solid black;}

/* Overrides */
.container {
	max-width: 1200px;
}
.scratch {
	fill: white;
	margin: 0 auto;
}
.description { margin-top: 70px;}
.description p {
	font-size: 1.1em;
}
svg {
	display: block;
	margin: 0 auto;
}
.box {
	margin-top: 20px;
	text-align: center;
}
.box p {
	margin: 20px;
}
h2.header {
	margin: 20px 0;
}
