{% extends '_base.html' %}
{% load staticfiles %}
{% block stylesheets %}
{% load tags %}
{{ block.super }}
<link href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<ul class="nav navbar-nav pull-left">
		<li><a href="{% url "dashboard" %}">Dashboard</a></li>
	</ul>
	{% if form %}
		{% field form.title class="form-control navbar-form edit-title pull-left" %}
	{% endif %}

	{% if '/edit' in request.get_full_path %}
	<ul class="nav navbar-nav pull-right">
		<li><button class='btn btn-primary navbar-btn'>Save</button><li>
		<li><button id="editor-save" class='btn btn-primary navbar-btn'>Save and Exit</button></li>
	</ul>
	{% elif '/dashboard' in request.get_full_path %}
	<ul class="nav navbar-nav pull-right">
		<li><p class="navbar-btn"><a href="{% url "create_document" %}" class='btn btn-primary'>Create New</a></p></li>
	</ul>
	{% endif %}
</nav>
{% endblock %}
{% block content %}{% endblock %}
{% endblock %}
