{% extends '_base.html' %}
{% load staticfiles %}
{% load tags %}
	{% block stylesheets %}
	{{ block.super }}
	<link href='http://fonts.googleapis.com/css?family=Dynalight' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
	<link href='{% static 'css/style.css' %}' rel='stylesheet'>
	{% endblock %}

	{% block body %}
	<nav class="navbar-top">
		<div class="navbrand">
			<a href="{% url "index" %}">Markdraft</a>
		</div>
		<div class="navigation">
			<ul>
				<li>
					<a class="{% navactive request "login"  %}" href="{% url "login" %}">Log In</a>
				</li>
				<li>
					<a class="{% navactive request "signup"  %}" href="{% url "signup" %}">Sign up</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
			</ul>
		</div>
	</nav>
	{% block content %}{% endblock %}
	{% endblock %}
