{% extends 'base.html' %}
{% block content %}
<nav class="navbar-top navbar-fixed">
	<div class="navbrand">
	Markdraft
	</div>
	<div class="nav">
		<a href="#">Sign up</a>
		<a href="#">Sign in</a>
		<a href="#">About</a>
	</div>
</nav>
<section class="action top-row">
	<div class="container">
	<h3>Welcome to <strong>Markdraft</strong></h3>
		<p class="col-md-offset-3 col-md-6">Markdraft is version control for your markdown. Create documents and intermittently save them along the way.</p>
	</div>
</section>
<section class="action">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</section>
{% endblock %}
